/***左侧***/
.login-left{
	width:50%;
}

.login-img{
	float: left;
}

.login-publicity{
	float: left;
	height: 15%;
	width:88%;
	background-color: #0072C6;
	color: #FFF;
}

.login-publicity h2{
	margin-left: 30px;
}

.login-publicity .describe{
	margin-left: 30px;
}

.login-publicity .btn-default{
	margin: 10px 0px 10px 30px;
	padding: 0 4px;
}

/***右侧**/
.logo-div{
	margin-top: 10%;
}

.login-form{
	margin-top:7%; 
}

.reg-div{
	margin-top: 80px;
}



